In [13]:
import pandas as pd
import numpy as np
import pyomo.environ as pyo
import os
import matplotlib.pyplot as plt
from pyomo.environ import ConcreteModel, Set, Param, Var, NonNegativeReals, Constraint, Objective, minimize, NonPositiveReals
from pyomo.opt import SolverFactory
from IPython.display import display

In [14]:
# 1 Read the Excel file
path = r"C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\tech_tasks\Energy Flow Optimization\test_data.xlsx"
df = pd.read_excel(path, engine="openpyxl", parse_dates=["datetime"])

# 1.2 Set the datetime column as index
df.set_index("datetime", inplace=True)

# 2.3 Rename columns for convenience
df.rename(columns={
    "pv production, kWh":           "pv",
    "electrical consumption, kWh":  "demand",
    "lcos, c/kWh":                  "lcos_c",
    "electricity selling price, c/kWh": "p_sell_c",
    "electricity buying price c/kWh":   "p_buy_c",
}, inplace=True)

# 1.4 Convert prices & LCOS from cents to €/kWh
df["lcos"]   = df["lcos_c"]   / 100
df["p_sell"] = df["p_sell_c"] / 100
df["p_buy"]  = df["p_buy_c"]  / 100

# 1.5 Quick sanity checks
print(df.head(), "\n")
df.info()
print("\nMissing values per column:\n", df.isna().sum())
print("\nValue counts of index interval:\n", df.index.to_series().diff().value_counts())

                      pv      demand  lcos_c  p_sell_c  p_buy_c   lcos  \
datetime
2023-04-05 00:00:00  0.0   69.540000     9.3    11.826   24.826  0.093
2023-04-05 01:00:00  0.0   74.941647     9.3    11.961   24.961  0.093
2023-04-05 02:00:00  0.0   83.941647     9.3    11.825   24.825  0.093
2023-04-05 03:00:00  0.0  114.641647     9.3    12.499   25.499  0.093
2023-04-05 04:00:00  0.0  281.117334     9.3    13.446   26.446  0.093

                      p_sell    p_buy
datetime
2023-04-05 00:00:00  0.11826  0.24826
2023-04-05 01:00:00  0.11961  0.24961
2023-04-05 02:00:00  0.11825  0.24825
2023-04-05 03:00:00  0.12499  0.25499
2023-04-05 04:00:00  0.13446  0.26446

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48 entries, 2023-04-05 00:00:00 to 2023-04-06 23:00:00
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pv        48 non-null     float64
 1   demand    48 non-null     float64
 2   lcos_c    48 non-null     float64
 3   p_sell_c  48 non-null     float64
 4   p_buy_c   48 non-null     float64
 5   lcos      48 non-null     float64
 6   p_sell    48 non-null     float64
 7   p_buy     48 non-null     float64
dtypes: float64(8)
memory usage: 3.4 KB

Missing values per column:
 pv          0
demand      0
lcos_c      0
p_sell_c    0
p_buy_c     0
lcos        0
p_sell      0
p_buy       0
dtype: int64

Value counts of index interval:
 datetime
0 days 01:00:00    47
Name: count, dtype: int64

In [15]:
# 2.1 Read the Excel file 
path = r"C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\tech_tasks\Energy Flow Optimization\test_data.xlsx"
df = pd.read_excel(path, sheet_name=0, engine="openpyxl", parse_dates=["datetime"])

# 2.2 Set the datetime column as index
df.set_index("datetime", inplace=True)

df.rename(columns={    "pv production, kWh": "pv",    "electrical consumption, kWh": "demand",    "lcos, c/kWh": "lcos",    
                   "electricity selling price, c/kWh": "p_sell",    "electricity buying price c/kWh": "p_buy",}, inplace=True)

# cents → euros
df[["lcos","p_sell","p_buy"]] /= 100

# 2.3 Quick preview
print(">>> Head:")
display(df.head())
print(">>> Tail:")
display(df.tail())

# 2.4 Structure & dtypes
print(">>> Info:")
df.info()

# 2.5 Summary stats
print(">>> Describe:")
display(df.describe().T)

# 2.6 Missing values
print(">>> NaNs per column:")
print(df.isna().sum())

# 2.7 Check hourly frequency
print(">>> Interval counts:")
print(df.index.to_series().diff().value_counts())

>>> Head:

                      pv      demand   lcos   p_sell    p_buy
datetime
2023-04-05 00:00:00  0.0   69.540000  0.093  0.11826  0.24826
2023-04-05 01:00:00  0.0   74.941647  0.093  0.11961  0.24961
2023-04-05 02:00:00  0.0   83.941647  0.093  0.11825  0.24825
2023-04-05 03:00:00  0.0  114.641647  0.093  0.12499  0.25499
2023-04-05 04:00:00  0.0  281.117334  0.093  0.13446  0.26446

>>> Tail:

                      pv      demand   lcos   p_sell    p_buy
datetime
2023-04-06 19:00:00  0.0  183.050332  0.093  0.14408  0.27408
2023-04-06 20:00:00  0.0  188.450332  0.093  0.12943  0.25943
2023-04-06 21:00:00  0.0  190.050332  0.093  0.11538  0.24538
2023-04-06 22:00:00  0.0  191.250332  0.093  0.10762  0.23762
2023-04-06 23:00:00  0.0  192.350332  0.093  0.10031  0.23031

>>> Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48 entries, 2023-04-05 00:00:00 to 2023-04-06 23:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pv      48 non-null     float64
 1   demand  48 non-null     float64
 2   lcos    48 non-null     float64
 3   p_sell  48 non-null     float64
 4   p_buy   48 non-null     float64
dtypes: float64(5)
memory usage: 2.2 KB
>>> Describe:

,count,mean,std,min,25%,50%,75%,max
pv,48.0,179.671958,230.477402,0.00000,0.000000,18.853920,399.722815,614.257680
demand,48.0,277.115323,171.647019,69.54000,132.520023,190.650332,441.283280,621.653439
lcos,48.0,0.093000,0.000000,0.09300,0.093000,0.093000,0.093000,0.093000
p_sell,48.0,0.132061,0.025880,0.10031,0.114432,0.122640,0.142902,0.207920
p_buy,48.0,0.250395,0.048801,0.09500,0.239435,0.252640,0.272903,0.337920

>>> NaNs per column:
pv        0
demand    0
lcos      0
p_sell    0
p_buy     0
dtype: int64
>>> Interval counts:
datetime
0 days 01:00:00    47
Name: count, dtype: int64

In [16]:
# 3.1 Create the model and time‐index set
model = pyo.ConcreteModel()
model.T = pyo.Set(initialize=df.index.tolist(), ordered=True)

# 3.2 Data parameters
model.PV     = pyo.Param(model.T, initialize=df['pv'].to_dict())
model.demand = pyo.Param(model.T, initialize=df['demand'].to_dict())
model.p_buy  = pyo.Param(model.T, initialize=df['p_buy'].to_dict())
model.p_sell = pyo.Param(model.T, initialize=df['p_sell'].to_dict())
model.lcos   = pyo.Param(model.T, initialize=df['lcos'].to_dict())

# 3.3 System specs
B_CAP, B_RATE, G_CAP = 160, 100, 700
EFF = 0.92

# 3.4 Decision variables: split‐flows
model.pv2load  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # PV → load
model.pv2batt  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # PV → battery
model.pv2grid  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # PV → grid

model.grid2load  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # grid → load
model.grid2batt  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # grid → battery

model.batt2load  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # battery → load
model.batt2grid  = pyo.Var(model.T, domain=pyo.NonNegativeReals)  # battery → grid

model.soc = pyo.Var(model.T, domain=pyo.NonNegativeReals, bounds=(0, B_CAP))  # state-of-charge

# 3.5 “Flow” conservation constraints

# A) PV conservation: split into load, battery, grid
model.PVFlow = pyo.Constraint(model.T,
    rule=lambda m,t: m.pv2load[t] + m.pv2batt[t] + m.pv2grid[t] == m.PV[t])

# B) Load balance: PV + grid + battery supplies exactly demand
model.LoadBalance = pyo.Constraint(model.T,
    rule=lambda m,t: m.pv2load[t] + m.grid2load[t] + m.batt2load[t] == m.demand[t])

# C) Grid capacity (import side): grid→load + grid→batt ≤ G_CAP
model.GridCap1 = pyo.Constraint(model.T,
    rule=lambda m,t: m.grid2load[t] + m.grid2batt[t] <= G_CAP)
# D) Grid capacity (export side): pv→grid + batt→grid ≤ G_CAP
model.GridCap2 = pyo.Constraint(model.T,
    rule=lambda m,t: m.pv2grid[t] + m.batt2grid[t] <= G_CAP)

# E) Battery charge‐rate limit: PV→batt + grid→batt ≤ B_RATE
model.BattChargeRate = pyo.Constraint(model.T,
    rule=lambda m,t: m.pv2batt[t] + m.grid2batt[t] <= B_RATE)
# F) Battery discharge‐rate limit: batt→load + batt→grid ≤ B_RATE
model.BattDischargeRate = pyo.Constraint(model.T,
    rule=lambda m,t: m.batt2load[t] + m.batt2grid[t] <= B_RATE)

# G) SOC update with charging efficiency
time_steps = list(model.T)
prev_map = { t:(time_steps[i-1] if i>0 else None)
             for i,t in enumerate(time_steps) }
def soc_update_rule(m, t):
    prev = prev_map[t]
    charged  = EFF*(m.pv2batt[t] + m.grid2batt[t])
    discharged = m.batt2load[t] + m.batt2grid[t]
    if prev is None:
        return m.soc[t] == charged - discharged
    return m.soc[t] == m.soc[prev] + charged - discharged

model.SOCUpdate = pyo.Constraint(model.T, rule=soc_update_rule)

In [17]:
# 4.1 Define the total‐cost objective (€/hour), including LCOS on discharge
def total_cost_rule(m):
    return sum(
         m.p_buy[t]  * m.grid2load[t]    # cost of energy drawn from grid to load
       + m.p_buy[t]  * m.grid2batt[t]    # cost of energy drawn from grid to battery
       - m.p_sell[t] * m.pv2grid[t]      # revenue from PV exported to grid
       - m.p_sell[t] * m.batt2grid[t]    # revenue from battery exports
       + m.lcos[t]   * (m.batt2load[t] + m.batt2grid[t])  # LCOS cost per kWh discharged
       for t in m.T
    )

# 4.2 Attach (or replace) the Objective
if 'Cost' in model.component_map(Objective):
    model.del_component('Cost')
model.Cost = Objective(rule=total_cost_rule, sense=minimize)

# 4.3 Solve with CBC
solver = SolverFactory('cbc')
print("CBC available?", solver.available())
result = solver.solve(model, tee=True)

# 4.4 Check and report
print("Termination condition:", result.solver.termination_condition)
print(f"Minimized total cost: €{model.Cost():.2f}")

CBC available? True
Welcome to the CBC MILP Solver
Version: 2.10.12
Build Date: Aug 20 2024

command line - C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Cbc\bin\cbc.exe -printingOptions all -import C:\Users\Gonzalo\AppData\Local\Temp\tmp7ldngu_m.pyomo.lp -stat=1 -solve -solu C:\Users\Gonzalo\AppData\Local\Temp\tmp7ldngu_m.pyomo.soln (default strategy 1)
Option for printingOptions changed from normal to all
Presolve 231 (-105) rows, 299 (-85) columns and 685 (-274) elements
Statistics for presolved model


Problem has 231 rows, 299 columns (198 with objective) and 685 elements
There are 21 singletons with objective
Column breakdown:
189 of type 0.0->inf, 110 of type 0.0->up, 0 of type lo->inf,
0 of type lo->up, 0 of type free, 0 of type fixed,
0 of type -inf->0.0, 0 of type -inf->up, 0 of type 0.0->1.0
Row breakdown:
27 of type E 0.0, 0 of type E 1.0, 0 of type E -1.0,
74 of type E other, 0 of type G 0.0, 0 of type G 1.0,
0 of type G other, 0 of type L 0.0, 0 of type L 1.0,
129 of type L other, 0 of type Range 0.0->1.0, 1 of type Range other,
0 of type Free
Presolve 231 (-105) rows, 299 (-85) columns and 685 (-274) elements
0  Obj 872.85797 Primal inf 18696.676 (93) Dual inf 5.394855 (75)
79  Obj 515.40703 Primal inf 144037.88 (114)
119  Obj 1401.3256 Primal inf 1023.6247 (39)
153  Obj 1425.8873
Optimal - objective value 1425.8873
After Postsolve, objective 1425.8873, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 1425.887292 - 153 iterations time 0.012, Presolve 0.01
Total time (CPU seconds):       0.11   (Wallclock seconds):       0.12

Termination condition: optimal
Minimized total cost: €1425.89

In [18]:
# Rebuild the breakdown DataFrame from the solved model
tbl = pd.DataFrame(index=list(model.T), data={
    "pv2load":    [model.pv2load[t].value    for t in model.T],
    "pv2batt":    [model.pv2batt[t].value    for t in model.T],
    "pv2grid":    [model.pv2grid[t].value    for t in model.T],
    "grid2load":  [model.grid2load[t].value  for t in model.T],
    "grid2batt":  [model.grid2batt[t].value  for t in model.T],
    "batt2load":  [model.batt2load[t].value  for t in model.T],
    "batt2grid":  [model.batt2grid[t].value  for t in model.T],
    "soc":        [model.soc[t].value        for t in model.T],
})
totals = tbl.sum(numeric_only=True)
tbl.loc["Total"] = totals

# Directory to save plots
output_dir = r"C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\Solutions"
os.makedirs(output_dir, exist_ok=True)

# Define plots and filenames
plot_configs = [
    (["pv2load", "pv2batt", "pv2grid"], "PV Allocation Over Time", "pv_allocation.jpg"),
    (["grid2load", "grid2batt"], "Grid Allocation Over Time", "grid_allocation.jpg"),
    (["batt2load", "batt2grid"], "Battery Discharge Allocation Over Time", "battery_discharge.jpg"),
    (["soc"], "Battery State of Charge", "state_of_charge.jpg"),
]

# Generate and save each plot
for columns, title, filename in plot_configs:
    plt.figure(figsize=(10, 4) if columns != ["soc"] else (10, 3))
    tbl.loc[tbl.index != "Total", columns].plot()
    plt.title(title)
    plt.xlabel("Time")
    plt.ylabel("Energy (kWh)" if columns != ["soc"] else "SoC (kWh)")
    plt.tight_layout()
    plt.savefig(os.path.join(output_dir, filename), format='jpg')
    plt.close()

print("Plots saved in:", output_dir)

Plots saved in: C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\Solutions

In [19]:
# 1) Rebuild the split‐flow & SoC table from the solved model
tbl = pd.DataFrame(index=list(model.T), data={
    'pv2load':    [model.pv2load[t].value    for t in model.T],
    'pv2batt':    [model.pv2batt[t].value    for t in model.T],
    'pv2grid':    [model.pv2grid[t].value    for t in model.T],
    'grid2load':  [model.grid2load[t].value  for t in model.T],
    'grid2batt':  [model.grid2batt[t].value  for t in model.T],
    'batt2load':  [model.batt2load[t].value  for t in model.T],
    'batt2grid':  [model.batt2grid[t].value  for t in model.T],
    'soc':        [model.soc[t].value        for t in model.T],
})

# 2) Rename columns and add PV & load
df_flow = tbl.rename(columns={
    'pv2load':   'pv to el consumption',
    'pv2batt':   'pv to battery',
    'pv2grid':   'pv to grid',
    'grid2load': 'grid to el consumption',
    'grid2batt': 'grid to battery',
    'batt2load': 'battery to el consumption',
    'batt2grid': 'battery to grid',
    'soc':       'battery state of charge',
})
df_flow['pv production, kWh'] = df['pv']
df_flow['el consumption']     = df['demand']

# 3) Reorder columns
df_flow = df_flow[[
    'pv production, kWh',
    'pv to el consumption',
    'pv to battery',
    'pv to grid',
    'battery state of charge',
    'battery to el consumption',
    'battery to grid',
    'grid to el consumption',
    'grid to battery',
    'el consumption'
]]
df_flow.index.name = 'datetime'

# 4) Display or save
display(df_flow)

,"pv production, kWh",pv to el consumption,pv to battery,pv to grid,battery state of charge,battery to el consumption,battery to grid,grid to el consumption,grid to battery,el consumption
datetime,,,,,,,,,,
2023-04-05 00:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,69.540000,0.000000,69.540000
2023-04-05 01:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,74.941647,0.000000,74.941647
2023-04-05 02:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,83.941647,0.000000,83.941647
2023-04-05 03:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,114.641650,0.000000,114.641647
2023-04-05 04:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,281.117330,0.000000,281.117334
2023-04-05 05:00:00,28.67631,28.67631,0.000000,0.000000,0.000000,0.0,0.0,282.783690,0.000000,311.460004
2023-04-05 06:00:00,130.43268,130.43268,0.000000,0.000000,0.000000,0.0,0.0,177.862320,0.000000,308.295004
2023-04-05 07:00:00,289.11611,289.11611,0.000000,0.000000,0.000000,0.0,0.0,23.648054,0.000000,312.764164
2023-04-05 08:00:00,426.35432,426.35432,0.000000,0.000000,0.000000,0.0,0.0,46.534704,0.000000,472.889024
2023-04-05 09:00:00,524.13959,0.00000,0.000000,524.139590,68.000000,0.0,0.0,499.476780,73.913043,499.476784
2023-04-05 10:00:00,584.06365,0.00000,0.000000,584.063650,160.000000,0.0,0.0,366.064810,100.000000,366.064814
2023-04-05 11:00:00,614.25768,454.01227,0.000000,160.245410,160.000000,0.0,0.0,0.000000,0.000000,454.012274
2023-04-05 12:00:00,593.69297,502.56343,0.000000,91.129536,160.000000,0.0,0.0,0.000000,0.000000,502.563434
2023-04-05 13:00:00,530.59244,322.37400,0.000000,208.218440,160.000000,0.0,0.0,0.000000,0.000000,322.373998
2023-04-05 14:00:00,393.46220,140.79276,0.000000,252.669440,160.000000,0.0,0.0,0.000000,0.000000,140.792763
2023-04-05 15:00:00,201.67174,147.50116,0.000000,54.170581,160.000000,0.0,0.0,0.000000,0.000000,147.501159
2023-04-05 16:00:00,70.21831,70.21831,0.000000,0.000000,160.000000,0.0,0.0,81.408273,0.000000,151.626583
2023-04-05 17:00:00,8.22960,8.22960,0.000000,0.000000,160.000000,0.0,0.0,119.108760,0.000000,127.338363
2023-04-05 18:00:00,0.00000,0.00000,0.000000,0.000000,60.000000,100.0,0.0,22.345023,0.000000,122.345023
2023-04-05 19:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,60.0,0.0,63.045023,0.000000,123.045023
2023-04-05 20:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,131.245020,0.000000,131.245023
2023-04-05 21:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,130.345020,0.000000,130.345023
2023-04-05 22:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,131.245020,0.000000,131.245023
2023-04-05 23:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,132.845020,0.000000,132.845023
2023-04-06 00:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,131.545020,0.000000,131.545023
2023-04-06 01:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,130.645020,0.000000,130.645023
2023-04-06 02:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,133.745020,0.000000,133.745023
2023-04-06 03:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,158.545020,0.000000,158.545023
2023-04-06 04:00:00,0.00139,0.00139,0.000000,0.000000,0.000000,0.0,0.0,432.022190,0.000000,432.023580
2023-04-06 05:00:00,31.89876,31.89876,0.000000,0.000000,0.000000,0.0,0.0,545.779580,0.000000,577.678339
2023-04-06 06:00:00,134.28424,134.28424,0.000000,0.000000,0.000000,0.0,0.0,453.836810,0.000000,588.121046
2023-04-06 07:00:00,288.25611,288.25611,0.000000,0.000000,0.000000,0.0,0.0,153.731290,0.000000,441.987399
2023-04-06 08:00:00,418.50466,418.50466,0.000000,0.000000,0.000000,0.0,0.0,203.148780,0.000000,621.653439
2023-04-06 09:00:00,513.52502,513.52502,0.000000,0.000000,0.000000,0.0,0.0,25.081109,0.000000,538.606129
2023-04-06 10:00:00,570.55060,441.04857,100.000000,29.502026,92.000000,0.0,0.0,0.000000,0.000000,441.048574
2023-04-06 11:00:00,577.05846,571.73125,5.327206,0.000000,96.901030,0.0,0.0,0.000000,0.000000,571.731254
2023-04-06 12:00:00,584.52399,527.85161,56.672379,0.000000,149.039620,0.0,0.0,0.000000,0.000000,527.851611
2023-04-06 13:00:00,469.50495,469.50495,0.000000,0.000000,49.039618,100.0,0.0,12.617559,0.000000,582.122509
2023-04-06 14:00:00,355.93442,224.26278,100.000000,31.671639,141.039620,0.0,0.0,0.000000,0.000000,224.262781
2023-04-06 15:00:00,204.33000,174.67686,20.609111,9.044030,160.000000,0.0,0.0,0.000000,0.000000,174.676859
2023-04-06 16:00:00,71.94225,71.94225,0.000000,0.000000,160.000000,0.0,0.0,127.582820,0.000000,199.525072
2023-04-06 17:00:00,9.03153,9.03153,0.000000,0.000000,160.000000,0.0,0.0,174.522520,0.000000,183.554052
2023-04-06 18:00:00,0.00000,0.00000,0.000000,0.000000,60.000000,100.0,0.0,84.650332,0.000000,184.650332
2023-04-06 19:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,60.0,0.0,123.050330,0.000000,183.050332
2023-04-06 20:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,188.450330,0.000000,188.450332
2023-04-06 21:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,190.050330,0.000000,190.050332
2023-04-06 22:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,191.250330,0.000000,191.250332
2023-04-06 23:00:00,0.00000,0.00000,0.000000,0.000000,0.000000,0.0,0.0,192.350330,0.000000,192.350332

In [20]:
# 1) Pull split‐flows from the model
flows = pd.DataFrame(index=list(model.T), data={
    "pv2grid":    [model.pv2grid[t].value    for t in model.T],
    "grid2load":  [model.grid2load[t].value  for t in model.T],
    "grid2batt":  [model.grid2batt[t].value  for t in model.T],
    "batt2grid":  [model.batt2grid[t].value  for t in model.T],
    "batt2load":  [model.batt2load[t].value  for t in model.T],
})

# 2) Calculate costs
cost_df = pd.DataFrame(index=flows.index)
cost_df["cost buy grid→load"]    = flows["grid2load"]  * df["p_buy"]
cost_df["cost buy grid→battery"] = flows["grid2batt"]  * df["p_buy"]
cost_df["cost sell pv→grid"]     = -flows["pv2grid"]  * df["p_sell"]
cost_df["cost sell batt→grid"]   = -flows["batt2grid"]* df["p_sell"]
cost_df["cost LCOS"]             = (flows["batt2load"] + flows["batt2grid"]) * df["lcos"]
cost_df["total cash flow"]       = cost_df.sum(axis=1)

# 3) Append a total row
totals = cost_df.sum(numeric_only=True)
cost_df.loc["Total"] = totals

# 4) Label index and display
cost_df.index.name = "datetime"
display(cost_df)

,cost buy grid→load,cost buy grid→battery,cost sell pv→grid,cost sell batt→grid,cost LCOS,total cash flow
datetime,,,,,,
2023-04-05 00:00:00,17.264000,0.000000,-0.000000,-0.0,0.00,17.264000
2023-04-05 01:00:00,18.706185,0.000000,-0.000000,-0.0,0.00,18.706185
2023-04-05 02:00:00,20.838514,0.000000,-0.000000,-0.0,0.00,20.838514
2023-04-05 03:00:00,29.232474,0.000000,-0.000000,-0.0,0.00,29.232474
2023-04-05 04:00:00,74.344289,0.000000,-0.000000,-0.0,0.00,74.344289
2023-04-05 05:00:00,83.653071,0.000000,-0.000000,-0.0,0.00,83.653071
2023-04-05 06:00:00,60.103235,0.000000,-0.000000,-0.0,0.00,60.103235
2023-04-05 07:00:00,7.324748,0.000000,-0.000000,-0.0,0.00,7.324748
2023-04-05 08:00:00,12.664885,0.000000,-0.000000,-0.0,0.00,12.664885
2023-04-05 09:00:00,49.747887,7.361739,-62.687095,-0.0,0.00,-5.577469
2023-04-05 10:00:00,34.776157,9.500000,-67.167320,-0.0,0.00,-22.891163
2023-04-05 11:00:00,0.000000,0.000000,-18.202276,-0.0,0.00,-18.202276
2023-04-05 12:00:00,0.000000,0.000000,-10.374186,-0.0,0.00,-10.374186
2023-04-05 13:00:00,0.000000,0.000000,-23.697341,-0.0,0.00,-23.697341
2023-04-05 14:00:00,0.000000,0.000000,-28.700722,-0.0,0.00,-28.700722
2023-04-05 15:00:00,0.000000,0.000000,-6.300039,-0.0,0.00,-6.300039
2023-04-05 16:00:00,21.622851,0.000000,-0.000000,-0.0,0.00,21.622851
2023-04-05 17:00:00,34.127042,0.000000,-0.000000,-0.0,0.00,34.127042
2023-04-05 18:00:00,7.364026,0.000000,-0.000000,-0.0,9.30,16.664026
2023-04-05 19:00:00,20.280323,0.000000,-0.000000,-0.0,5.58,25.860323
2023-04-05 20:00:00,38.714656,0.000000,-0.000000,-0.0,0.00,38.714656
2023-04-05 21:00:00,36.677785,0.000000,-0.000000,-0.0,0.00,36.677785
2023-04-05 22:00:00,35.321972,0.000000,-0.000000,-0.0,0.00,35.321972
2023-04-05 23:00:00,35.275667,0.000000,-0.000000,-0.0,0.00,35.275667
2023-04-06 00:00:00,33.428220,0.000000,-0.000000,-0.0,0.00,33.428220
2023-04-06 01:00:00,32.661255,0.000000,-0.000000,-0.0,0.00,32.661255
2023-04-06 02:00:00,32.811666,0.000000,-0.000000,-0.0,0.00,32.811666
2023-04-06 03:00:00,38.819748,0.000000,-0.000000,-0.0,0.00,38.819748
2023-04-06 04:00:00,110.126776,0.000000,-0.000000,-0.0,0.00,110.126776
2023-04-06 05:00:00,148.730393,0.000000,-0.000000,-0.0,0.00,148.730393
2023-04-06 06:00:00,132.352429,0.000000,-0.000000,-0.0,0.00,132.352429
2023-04-06 07:00:00,43.961000,0.000000,-0.000000,-0.0,0.00,43.961000
2023-04-06 08:00:00,52.706951,0.000000,-0.000000,-0.0,0.00,52.706951
2023-04-06 09:00:00,6.135592,0.000000,-0.000000,-0.0,0.00,6.135592
2023-04-06 10:00:00,0.000000,0.000000,-3.100663,-0.0,0.00,-3.100663
2023-04-06 11:00:00,0.000000,0.000000,-0.000000,-0.0,0.00,0.000000
2023-04-06 12:00:00,0.000000,0.000000,-0.000000,-0.0,0.00,0.000000
2023-04-06 13:00:00,2.977870,0.000000,-0.000000,-0.0,9.30,12.277870
2023-04-06 14:00:00,0.000000,0.000000,-3.424654,-0.0,0.00,-3.424654
2023-04-06 15:00:00,0.000000,0.000000,-0.993668,-0.0,0.00,-0.993668
2023-04-06 16:00:00,32.043701,0.000000,-0.000000,-0.0,0.00,32.043701
2023-04-06 17:00:00,47.121080,0.000000,-0.000000,-0.0,0.00,47.121080
2023-04-06 18:00:00,23.702093,0.000000,-0.000000,-0.0,9.30,33.002093
2023-04-06 19:00:00,33.725634,0.000000,-0.000000,-0.0,5.58,39.305634
2023-04-06 20:00:00,48.889669,0.000000,-0.000000,-0.0,0.00,48.889669
2023-04-06 21:00:00,46.634550,0.000000,-0.000000,-0.0,0.00,46.634550
2023-04-06 22:00:00,45.444903,0.000000,-0.000000,-0.0,0.00,45.444903
2023-04-06 23:00:00,44.300205,0.000000,-0.000000,-0.0,0.00,44.300205
Total,1594.613505,16.861739,-224.647963,0.0,39.06,1425.887281

In [21]:
# 1. Make sure the folder exists
output_path = r"C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\Solutions\results.xlsx"
os.makedirs(os.path.dirname(output_path), exist_ok=True)

# 2. Write both DataFrames to one Excel file
with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
    cost_df.to_excel(writer, sheet_name='Costs')
    df_flow.to_excel(writer,   sheet_name='Flows')

print(f"✅ Saved results to {output_path}")

✅ Saved results to C:\Users\Gonzalo\Desktop\Gonzalo\Profesion\CaseStudy\Hymate\Solutions\results.xlsx